rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /images/{userId}/{imageName}/{allPaths=**} {
      allow read: if true;
      allow write, create, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
