.rmf-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 0.5rem;
	border: 0.15rem solid black;
	margin: 1rem;
	padding: 1rem;
	box-sizing: border-box;
}
