nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	height: 3.5rem;
}

.login-button {
	margin: 0 0.5rem;
	width: 5rem;
	height: 2rem;
	padding: 0.1rem;
}

.signup-button {
	background-color: var(--color-primary);
	width: 6rem;
	height: 2rem;
	padding: 0.1rem;
}

